* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.slick-dots {
    position: relative !important;
    bottom: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    padding: 0 0 20px 0 !important;
}