.weatherContainer {
    background-color: rgba(black, 0.7);
    color: white;
    font-family: avenir;
    min-width: 200px;
    margin-top: 100px;

    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
}

.today,
.temp,
.wind {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.temp {
    border-right: 2px solid rgb(83, 7, 7);
    border-left: 2px solid rgb(83, 7, 7);
    padding: 0 100px;
}

.today {
    padding-right: 100px;

    h1 {
        font-size: 3em;
    }

    p {
        opacity: 0.6;
        font-size: 1.3em;
    }
}

.temp {
    p {
        opacity: 0.6;
        font-size: 1em;
    }

    .high::before {
        content: "High: ";
    }
    
    .low::before {
        content: "Low: ";
    }
    
    .high::after,
    .low::after {
        content: "\00b0  C";
    }
}

.wind {
    p {
        opacity: 0.6;
        font-size: 1em;
    }

    .speed::after {
        content: " kmph";
    }
}

.compass {
    width: 70px;
    height: 70px;
    background-color: rgba(black, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 30px;

    .arrow {
        --size: 10px;
        background-color:white;
        height: calc(var(--size) * 3);
        width: var(--size);
        position: relative;
        clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        transform: translateY(-50%) rotate(var(--degrees));
        transform-origin: bottom center;
        transition: 500ms ease;
    }
}

.windContainer {
    display: flex;
    padding-left: 100px;
    justify-content: space-around;
}

@media only screen and (max-width: 1042px) {
    .today,
    .temp,
    .windContainer {
        padding: 10px 50px;
        margin: auto;
    }

}

@media only screen and (max-width: 882px) {
    .weatherContainer {
        display: block;
        padding-left: 50px;
        padding-right: 50px;
    }

    .today,
    .temp {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .temp {
        border: none;
        border-bottom: 2px solid rgb(83, 7, 7);
        border-top: 2px solid rgb(83, 7, 7);
    }

    .today,
    .temp,
    .windContainer {
        padding: 20px 0;
    }

}

@media only screen and (max-width: 512px) {
    .temp {
        display: block;

        p {
            padding: 10px 0;
        }
    }
}

@media only screen and (max-width: 400px) {
    .today {
        display: block;
    }
}